/* Your application styles go here */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}

.landing-page {
  background-image: url('../img/1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.login-page {
  width: auto;
  height: auto;
  background-image: url('../img/2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ponder-button {
  background-color: #d9ce0a;
}

.end-vertical {
    position: absolute;
    margin-left: -15px;
    top: 300px;
    background-color: rgba(255, 255, 255, 0.4);
}

.yellow-text {
  color: #f9ec31;
}

.yellow-background {
  background-color: #f9ec31;
}

.font-big {
  font-size: 20px;
  text-align: center;
}

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
