<ion-view >
  <ion-content class="has-header login-page">
    <div class="container login-page" >

      <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

      <div  class='text-center'>
        <div class='yellow-text font-big end-vertical .container'>
          <div class='row'>
            <div class='col-md-6'>
              Login to your account
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <a href='#/app/ponder-cam'>
                <img alt='kifla' src='img/face.png' width='100%' />
              </a>
            </div>
            <div class='col-md-4'>
              <a href='#/app/ponder-cam'>
                <img alt='kifla' src='img/insta.png' width='100%' />
              </a>
            </div>
            <div class='col-md-4'>
              <a href='#/app/ponder-cam'>
                <img alt='kifla' src='img/g+.png' width='100%' />
              </a>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-7'>
              <i class='fa fa-check-square-o'></i>
              Keep me logged in
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

