<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item class='yellow-background' nav-clear menu-close href="#/app/ponder-rate">
          Ponder rate
        </ion-item>
        <ion-item class='yellow-background' nav-clear menu-close href="#/app/ponder-storm">
          Ponder storm
        </ion-item>
        <ion-item class='yellow-background' nav-clear menu-close href="#/app/ponder-cam">
          Ponder Cam
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
