<ion-view title="Ponder">
  <ion-content class="has-header">
    <div class="container">

      <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

      <div class="container text-center">
        Ponder Rate!!
      </div>
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="product in ponderRateProducts">
          <div class="box blue">
            <span class="fa-stack fa-2x" style="position:absolute;">
              <i class="fa fa-comment fa-stack-2x"></i>
              <strong class="fa-stack-1x fa-stack-text fa-inverse" style="font-size: 60%">{{product.disccount}}%</strong>
            </span>
            <img ng-show="product.src !== undefined" ng-src="{{product.src}}" class="img-responsive img-thumbnail">
            <label ng-bind="product.tag"></label>
          </div>
          <div class="container-fluid">
            <div class="row">
              <i class="fa-li fa fa-thumbs-up"></i>
              <i class="fa-li fa fa-thumbs-down"></i>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>

