<ion-view title="Ponder">
  <ion-content class="has-header">
    <div class="container">

      <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>
      Ponder Storm!!
        <h4 class="underline"><span>Recent images</span></h4>
        <div id="portfolio" class="row">
          <div class="row-fluid" align="left">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="product in ponderRateProducts" >
                  <span class="fa-stack fa-2x" style="position:absolute;">
                    <i class="fa fa-comment fa-stack-2x"></i>
                    <strong class="fa-stack-1x fa-stack-text fa-inverse" style="font-size: 60%">{{product.disccount}}%</strong>
                  </span>
                <img ng-show="product.src !== undefined" ng-src="{{product.src}}" class="img-responsive img-thumbnail">
                <label ng-bind="product.tag"></label>
            </div>
          </div>
        </div>

    </div>
  </ion-content>
</ion-view>

