<ion-view title="Ponder">
  <ion-content class="has-header">
    <div class="container">

      <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>
      Ponder Storm!!
        <h4 class="underline"><span>Recent images</span></h4>
        <div id="portfolio" class="container" style="width: 100%; width: 100%">
          <div class="row-fluid">
             <img ng-src="{{lastProduct.src}}" class="img-responsive" style="transform: rotate(90deg);">
             <input type="text" ng-model="lastProduct.tag">
             <button ng-click="confirmTag()">Accept Tag</button>
          </div>


        </div>
    </div>
  </ion-content>
</ion-view>

