<ion-view title="Ponder">
  <ion-content class="has-header">
    <div class="container">

      <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

      <div class="container text-center">
        Take a selfie!!

      <p ng-bind="imageData">
      </p>



      </div>
    </div>
  </ion-content>
</ion-view>

